<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <h1 style="background-color:LightGray;">
            <center>Expression Recognition</center>
        </h1>
    </div>
    <div>
        <fieldset>
        <ul>
            <!li>
            <br>
            <form action="/predict_expr_recognition/" enctype="multipart/form-data" method="post">
                <span style="font-weight:bold;font-family:sans-serif">Upload Image:</span> <br><br>
                <input name="file4" type="file" onchange="readURL(this);" />
                <br><br><br>
                <button type="submit">Recognize Expression</button>
            </form>
            <!/li>
            <br><br>
            <form action="/" method="get">
                <button type="submit">Home</button>
            </form>
        </ul>
        </fieldset>
    </div>
</body>
</html>
